*.o
*.obj
*.out
*.dll
*.so
*.a
*.lib

.vs/
.vscode/


build/
_deps/
*.d
*.dSYM
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.log
install_manifest.txt
.ninja_deps
.ninja_log
build.ninja

ToDo.txt
files/
frequencies.txt
references.txt
urls.txt


docs/latex/*.pdf
Doxyfile1.bak
